.service{
    background-color: white;
    border-radius: 10px;
    width: 20rem;
    box-shadow: 2px 3px #d1cfcf;
    
}
.my-text{
    color: black;
    font-size: 22px;
    
}

.service img{
    width: 100%;
    height: 14rem;
   
    border-radius: 10px;
    
}
.service img:hover{
    transform: scaleX(-1);
    
}
.service-btn{
    font-weight: 800;
    color: rgba(231, 24, 59, 0.746);
    background-color:  white;
    border: 1px solid rgba(231, 24, 59, 0.746);
}
   
.service-btn:hover{
    color:white;
    background-color:  rgba(231, 24, 59, 0.746);
    border-radius: 19px;
}
  